@section-container-lg: 52%;
@section-container-md: 90%;
@section-container: 100%;
@script-font-size: 2.2em;
@script-font-size-sm: 4em;


/** Temp ccss **/
body:not(.home){
  #homepage-slideshow, #secondary-slideshow {
      height: 500px;
      overflow: hidden;
  }
  @media screen and (min-width: @screen-sm-max){

  }
  @media screen and (min-width: @screen-md-max){

  }
}

#homepage-slideshow {
  overflow: hidden;
  backgroud-color: #fff;
	*[data-background], .youtube-video-item {
		height: 250px;
	}
  @media screen and (min-width: @screen-sm-max){
    *[data-background], .youtube-video-item {
  		height: 400px;
  	}
  }
  @media screen and (min-width: @screen-md-max){
    *[data-background], .youtube-video-item {
  		height: 800px;
  	}
  }
}

.single-feature-image {
	height: 250px;
	@media screen and (min-width: @screen-md-max){
		height: 520px;
	}
}

.responsive-header-logo {
  text-align: center;
  padding: 8px 0 0;
  position: relative;
  background-color: #fff;
  z-index:200;
  img {
    height: 75px;
  }
  @media screen and (min-width: 1200px){
		display: none;
    visibility: hidden;
	}
}

.pre-navigation {
  font-family: "Merriweather",serif;
  display: none;
  visibility:hidden;
  background-color: #fff;
  .box-shadow(inset 0px -6px 12px 0px rgba(0,0,0,0.07));
  .hover-underline-middle a:hover:before {
    background-color: #fff;
  }
  .navbar {
    padding-right: 0;

  }
  ul.nav {
    margin: 0 ;
    li {
        float: left !important;
      a {
        font-family: "Merriweather",serif;
        text-transform: uppercase;
        font-size: 14px;
        &, &:visited, &:focus, &:active {

          .opacity(0.85);
          padding: 15px ;
          background-color: transparent;

        }
        &:hover {

          .opacity(1);
          background-color: transparent;

        }
      }
      &.menu-item-299 {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
      &.menu-item-438 {
        display: none;;
        visibility: hidden;
        background-color: #f7b267;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        margin-left: 15px;
        a {
          padding: 16px 35px;
          &, &:visited, &:focus, &:active {
            color: #fff;
          }
          &:hover {
            background-color: #f2932c;
          }
        }
      }
      color: @body-color;
    }
  }
  .pre-nav-right-column  {
    overflow:hidden;
    height: 47px;
    .pull-right {
      float: none !important;
    }
  }
  .social-icons {
    display: none;
    visibility: hidden;
    line-height: 1em;
    background-color: #84a7b4;
    padding: 0.46em 35px;
    height: 48px;

    a{
      padding: 0 6px;
      font-size: 28px;
      border: none !important;
      &, &:visited, &:active, &:focus {
        color: #fff;
        .opacity(0.6);
        .transition(.2s);
      }
      &:hover {
        .opacity(1);
        .transition(0.2s);
      }
    }
  }
  @media screen and (min-width: @screen-xs-max) {

	}
  @media screen and (min-width: @screen-sm-max) {

	}
  @media screen and (min-width: @screen-md-max) {
    display: block;
    visibility: visible;
    .social-icons {
      display: block;
      visibility: visible;;
    }
    .pre-nav-right-column  {

      .pull-right {
        float: right !important;
      }
    }
	}
  @media screen and (min-width: 1230px) {
    ul.nav {
      li {
        &.menu-item-438 {
          display: block;
          visibility: visible;
        }
      }
    }

	}
}



.main-content {
    background-color: #fff;
}

.inner-container {
	padding: @base-margin 0 58px;
}

.section {
  background-color: #fff;
  @import '/section/awards.less';
  @import '/section/footer.less';
  @import '/section/specials.less';
  @import '/section/testimonials.less';
  @import '/section/booking.less';
  @import '/section/content.less';

}



#specials-vip {
  padding-top: @base-margin * 2;
  li {
    .box-shadow(3px 5px 15px rgba(0, 0, 0, 0.2));
    margin-bottom: @base-margin * 3;
    h2 {
      padding-top: 0;
    }
    .has-feature-image {
      background-position: center;
      min-height: 180px;
    }
    .article-body-wrapper {
      padding: @base-margin * 2;
    }
    &:after,&:before {
      clear: both;
      content: ' ';
      display: table;
    }
  }
  @media screen and (min-width: @screen-md-max){
    .has-feature-image {
      min-height: 380px;
      position: absolute;
      height: 100%;
      width: 30%;
      top: 0;
      right: 0;
    }
    .article-body-wrapper {
      &.with-feature-image {
        float: left;
        width: 70%;
      }
    }
  }

}

#special-vip-sidebar {
  text-align: center;
  .btn-primary {
      background-color: #fff;
      border: 1px solid @body-color;
      color: @link-color !important;
      width: 100%;
      max-width: 255px;
      padding: 15px 30px;
  }
  @media screen and (min-width: @screen-sm-max){
    padding-left: @base-margin * 2;
    padding-top: @base-margin* 2;;

  }
}

.page-with-sidebar-gallery {
  .page-sidebar-with-sidebar-gallery {
    .__st_gallery_feature_content {

    }
    margin-bottom: 32px;
  }
  .page-main-with-sidebar-gallery {

  }
  @media screen and (min-width: @screen-md-max){
    .page-sidebar-with-sidebar-gallery {
      width: 40%;
      position: absolute;
      right: 0;
      top: 0;

    }
    .page-main-with-sidebar-gallery {
      position: relative;
      width: 60%;
      padding-right: 60px;
    }

    .has-sidebar {
      width: 60%;
      padding-right: 60px;

    }
    .page-gallery {
      max-width: 40%;
    }
  }
}

.type-special {
  .booking-code {
    margin-top: @base-margin;
  }
  .booking-url {
    margin-top: @base-margin * 2;
  }
}

.card-wrapper{
  &:after {
    clear : both;
    content: ' ';
    margin: 0;
  }
  .card-item-4 {
      position: relative;
      width: 30%;
      float: left;
      margin: 1%;
      border: 1px solid @line-seperator;
      text-align: center;
      min-height:330px;
      .box-shadow();

      .card-header {
        border: 0;
        background-color: rgba(248,248,248,1);
        width: 100%;
        height: 80px;
        padding: 12px;
        td {
          vertical-align: middle;
        }
        border-bottom: 1px solid @line-seperator;
      }
      h2 {
        font-size: 1em;
        padding-top: 0;
        margin-bottom: 0;
        color: inherit;

      }
      .card-content {
        position: relative;
        display: block;
        font-size: 0.9em;
        line-height: 1.5em;
        min-height: 180px;
        .card-content-background {
          .transform-scale(1,1);
          .transition(0.25s);
        }
        > div {
          position: absolute;
          content: ' ';
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          &:not(.card-content-background){
            padding: 24px;
            background-color: rgba(0,0,0,0.1);
            color: rgba(255,255,255,0);
          }

        }

      }
      .card-footer {
        font-size: 0.8em;
        padding: 12px;
        text-align: left;
        line-height: 1.3em;

        border-top: 1px solid @line-seperator;
        .card-logo-wrapper{
          border: 1px solid @line-seperator;
          padding: 4px;
        }
        a {
          display: block;
          height: 40px;
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;

        }
        img {
          visibility: hidden;
          height: 0;
        }
        .publisher {

        }
      }
      .card-button {
        padding: 12px;
        .btn {
          width: 100%;
        }
      }
    &:hover {
      .card-content {
        .card-content-background {
          .transform-scale(1.05,1.05);
          .transition(0.5s);
        }
        > div:not(.card-content-background) {
          background-color: rgba(0,0,0,0.4);
          .transition(0.5s);
          color: rgba(255,255,255,1)
        }
      }
    }
  }
}

#real-estate-grid {
  font-size: 0.8em;

}
.modal-subtitle {
  margin-top: -24px;
}
.modal-body {
  .intro-text {
    font-size: 1.1em !important;
  }
}


.page-template {
  form {
    margin-bottom: @base-margin * 2;
  }
}
