<div class="section section-home-content script-parallax" data-offset="0" data-ratio="8" data-background="{{theme.link}}/assets/images/home-content-background.jpg" >
  <div class="container">
    <div class="inner-container">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-content-text">{{content}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
